.linkFont{
    color: #000;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    text-decoration: underline;
}

.linkFont:hover{
    color: #e27474;
}
